---
import Layout from '../layouts/Layout.astro';
import Content from '../components/Content.astro';
import Tag from '../components/Tag.astro';

---

<Layout>
  <Tag/>
  <!-- <h1>Blogs</h1> -->
  <Content />
  
</Layout>
<!-- {allPosts.map((post) => <VideoCard url={post.url} title={post.frontmatter.title} description={post.frontmatter.description}/>)}
<VideoGrid videos={videos} /> -->
<!-- <BlogPageLayout /> -->