---
import BlogGrid from "../components/BlogGrid.astro";
import ProjectGrid from '../components/ProjectGrid.astro';
---
<div class="project">
    <ProjectGrid />
   </div>
  <div class="blogs">
    <BlogGrid />
  </div>