---
import Terminal from "./Terminal.astro"
import Profile from "./Profile.astro"
---
<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <i class="fas fa-bars m-3" id="menu-icon" style="cursor: pointer;"></i>
      <a href="/">
        <img src="/images/Naveen Pal (1).png" alt="Logo" class="logo" style="height: 40px;">
      </a>
    </div>
    
    <!-- Wrap terminal and right icons in a flex container -->
      <div class="d-flex flex-grow-1 justify-content-center">
        <Terminal/>
      </div>
      
      <div class="d-flex align-items-center ms-2">
        <div class="position-relative me-3">
          <i class="fas fa-bell" style="cursor: pointer; font-size: 25px;"></i>
        </div>
        <Profile/>
      </div>
  </div>
</nav>

<style>
.container-fluid {
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (max-width: 576px) {
  .container-fluid {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  
  .logo {
    height: 32px !important;
  }
  
  #menu-icon {
    margin: 0.5rem !important;
  }
}
</style>