---
// Tags.astro
const tags = [
  "All",
  "Computer",
  "Python",
  "Machine Learning",
  "Cybersecurity",
  "Web Development",
  "JavaScript30",
  "React",
  "C++",
  "Kubernetes",
  "DevOps",
];
---

<div class="tags-container d-flex gap-2 py-3 px-3 overflow-auto">
  {tags.map((tag, index) => (
    <button
      class={`btn btn-light ${index === 0 ? 'active' : ''}`}
      type="button"
    >
      {tag}
    </button>
  ))}
</div>


<style>
.tags-container {
  white-space: nowrap;
  max-width: 90vw;
}

.tags-container button {
  border-radius: 20px;
  font-weight: 500;
  padding: 5px 15px;
}

.tags-container button.active {
  /* background-color: #f1f1f1; */
  background-color: #0f0f0f;
  border-color: #ddd;
  color: #fff;
}

</style>
